body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styling for the quote box container */
#quote-box {
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  text-align: center;
  width: 80%;
  max-width: 500px;
}

#author {
  text-align: end;
}
/* Styling for the New Quote button */
#new-quote {
  background: #007bff; /* Blue background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px; /* Space between button and tweet link */
}
/* Styling for the Tweet Quote link */
#tweet-quote, #tumblr-quote {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.quote-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}